/* -----common use or utilities */
body{
    background-color: rgb(255, 255, 255);
}

main{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    

    
}

/*--------banner section---- */
.banner{
    background-color: #2d25ad;
    display: flex;
    justify-content: center;
    
    align-items: center;
    padding: 30px 0;
}
.banner-text{
    width: 40%;
    margin-right: 50px;
    margin-left: 120px;
    padding: 20px 50px;
}

.banner-text h1{
    font-size: 60px;
    color: #fff;
    
}
.button{
    background-color: rgba(255, 0, 0, 0.705);
    text-decoration: none;
    color: white;
    padding: 13px;
    font-size: 22px;
}

.banner-button, a:hover{
    color: rgba(26, 34, 9, 0.966);
}
 
.banner-button, .button i{
    margin-left: 10px;
    color: white;
}
.banner img{
    width: 50%;
}
.banner-img img{
    width: 500px;
    margin-right: 40px;
}



/* ---------player information-------- */
 
 .players{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 40px;
     
      
   
 }
 .player{  
     width: 220px;
     box-shadow: 10px 10px 20px gray;
     padding: 5%;
     margin-top: 27px;
 }

.player img{
    width: 224px;
    height: 200px;
}
 /* --------------------bonus part-------------------------- */

 .bonus-container{
     
     
     display: flex;
     grid-template-columns: 1fr 1fr;
      grid-column-gap: 40px;
     justify-content: center;
     align-items: center;
     
     background-color: rgba(255, 253, 253, 0.219);
     margin-top: 70px;
     

 }

 .bonus-part{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     
    
 }
 .bonus-title{
    width: 40%;
    margin-right: 50px;
    margin-left: 30px;
    padding: 2px 5px;
 }
 .sort-title{
     font-size: 50px;
     
     margin-left: 30px;
     
 }
 /* .bonus-button, .button:hover{
     color: black;
 } */
 .title, .bonus-button{
     margin-left: 50px;
 }
 
.bonus-part img{
    width: 450px;
    height: 400px;
    
}
 
 /* ------football logo----------- */
 .football-container{
     margin-top: 50px;
     margin-bottom: 50px;
 }
.football-logo img{
    width: 400px;
}
/* ----footer logo------ */
.footer-section{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.521);
}
.logo span {
    font-size: 30px;
   
     
     
}
/* ---------media quirey------------- */
/* mobail device-------- */
@media only screen and (max-width:688px) {

     
    
    .container{
        width: 100%;
    }
     
    .banner{
      
        background-color: rgb(9, 224, 224);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
         margin-right: 10px;
        padding-left: 2px;
    }
     
     .players{
         display: flex;
         flex-direction: column;
     }
     .bonus-part{
         display: flex;
         flex-direction: column;
     }
     .football-logo{
         width: 100%;
         text-align: center;
     }
     
}    
/*-------------------------- tablet device--------------------- */
@media only screen and (min-width: 688px) and (max-width:992px) {
    .banner{
        background-color: rgb(1, 122, 55);
        display: flex;
        flex-direction: column;
    }
    .players{
        display: flex;
         flex-direction: column;
         grid-template-columns: repeat(2,1fr);
    }
}